<div class="card">
  <div class="card__body">
  <% if user_signed_in? %>
    <p>TEST CARD </p>
    <%= link_to "#{note.list_name}", note_path(note.id), class: :card__title%>
    <p class="card__summary">
    <%= link_to "#{note.item_name}", note_items_path(note.character), class: :card__title%>
    </p>
    <%= link_to "所有者 #{current_user.nickname}", root_path, class: :card__user %>
    <% end %>
  </div>
</div>