<div class="bg__wrapper">
  <div class="contents row">
    <div class="container">
      <h2 class="page-heading">新規ノート投稿</h2>
        <%= render partial: "form", locals: { note: @note } %>
    </div>
  </div>
</div>