<div id='messages' data-note_id="<%= @note.id %>">
  <%= render @messages %>
</div>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'note_speaker' } %>