<p><%= "#{@note.title}のトークルーム" %></p>

<div id="messages">
  <%= render "comment", collection: @comments %>
</div>
<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'note_speaker' } %>