<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">アイテム編集</h2>
        <%= render partial: "form", locals: { note: @note, item: @item } %>
    </div>
  </div>
</div>