<main class="main">
  <div class="inner">
  <h1><%= "#{@note.log_name}" %></h1>
      <% if @logs == [] %>
    <div class="none_item">
    <p>購入履歴がありません。</p>
    </div>
    <% else %>
    <table class="pc_table">
      <thead>
        <tr>
          <th>日付</th>
          <th>名前</th>
          <th>金額</th>
          <th>個数</th>
          <th>条件</th>
          <th>備考</th>
          <th>購入者</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <div>
          <%= render partial: 'log', collection: @logs %>
        </div>
      </tbody>
    </table>
    <table class="sp_table">
      <thead>
        <tr>
          <th>日付/購入者</th>
          <th colspan="2">情報</th>
        </tr>
      </thead>
      <tbody>
        <div>
          <%= render partial: 'splog', collection: @logs %>
        </div>
      </tbody>
    </table>
    <% end %>
        <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to note_lists_path(@note.character) do %>
          <input type="submit" value="リストへ戻る" class="sub__btn form__btn">
        <% end %>
      </div>
    <% end %>
  </div>
</main>
